# AdSense Configuration
NEXT_PUBLIC_ADSENSE_ENABLED=false
NEXT_PUBLIC_ADSENSE_CMP_CONFIGURED=false

# If true, the custom CookieBanner will show for users in unregulated regions.
# If false, only Google's CMP will be used (where legally required).
NEXT_PUBLIC_USE_CUSTOM_COOKIE_BANNER=false

# Your Google AdSense Client ID (e.g. ca-pub-xxxx)
NEXT_PUBLIC_ADSENSE_CLIENT_ID=

# The Slot IDs for your Ad Units
NEXT_PUBLIC_ADSENSE_SLOT_ID=
NEXT_PUBLIC_ADSENSE_SLOT_ID_LONG=

# Analytics Configuration
# NEXT_PUBLIC_ANALYTICS_PROVIDER can be 'gtm' or 'zaraz'
NEXT_PUBLIC_ANALYTICS_PROVIDER=gtm
NEXT_PUBLIC_GTM_ID=
